html, body {
    margin: 0;
}

table {
    height: 100%;
}

#search {
    width: 25%;
    height: 100%;
    background: #888888;
    margin: 0;
    padding: 0;
}

#map {
    width: 100%;
    height: 100%;
    background: #888888;
    position: fixed;
    margin: 0;
    padding: 0;
}