html, body {
    margin: 0;
    background-color: #95b6d8;
}

table {
    height: 100%;
    width: 100%;
}

td, hr {
    width: 100%;
}

input {
    width: 90%;
    height: 25px;
    font-size: medium;
}

b {
    font-size: medium;
    color: #ffffff;
}

p {
    font: 16pt sans-serif;
    font-size: small;
    color: #356fff;
}

#count {
    font-size: small;
    color: #356fff;
}

#filter {
    width: 25%;
    height: 100%;
    margin: 0;
    padding: 0;
    left: 0;
    top: 0;
    bottom: 0;
    background-color: #95b6d8;
}

#map {
    width: 75%;
    height: 100%;
    background: #95b6d8;
    position: absolute;
    margin: 0;
    padding: 0;
    right: 0;
    top: 0;
    bottom: 0;
    left: 25%;
}